<div class="modal" id="<%= id source_file %>">
  <input type="text" class="focus-hidden" />

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <h2><%= shortened_filename source_file %></h2>
        <p class="lead">
          <span class="<%= coverage_css_class(source_file.covered_percent) %>"><b><%= source_file.covered_percent.round(2).to_s %>%</b></span> covered.
          <b><%= source_file.lines_of_code %></b> relevant lines.
          <span class="green"><b><%= source_file.covered_lines.count %></b> lines covered</span> and
          <span class="red"><b><%= source_file.missed_lines.count %></b> lines missed.</span>
        </p>
      </div>
      <div class="modal-body">
        <pre class="source_table">
          <ol>
            <% source_file.lines.each_with_index do |line| %>
              <li class="<%= line.status %>" data-hits="<%= line.coverage ? line.coverage : '' %>" data-linenumber="<%= line.number %>">
                <% if line.covered? %><span class="badge pull-right badge-covered"><%= line.coverage %></span><% end %>
                <% if line.skipped? %><span class="badge pull-right badge-skipped">skipped</span><% end %>
                <code class="ruby"><%= CGI.escapeHTML(line.src.chomp) %></code>
              </li>
            <% end %>
          </ol>
        </pre>
      </div>
    </div>
  </div>
</div>
